@use '../../styles/keyframes';

.dashboard .shop {
    &__top {
        display: flex;
        justify-content: space-between;
    }
    &__wallet {
        padding: 0 0.5rem;
    }
    &__container {
        display: flex;
    }
    &__sprites {
        display: flex;
        flex-direction: column;
        text-align: center;
        position: relative;
        z-index: 5;
        margin: 0 auto;
    }
    &__buy {
        width: 6.25rem;
        height: 6.25rem; 
        animation: keyframes.$idle 1s steps(6) infinite;
        background-repeat: no-repeat;
        transform: scale(2);
        image-rendering: pixelated; 
        position: relative;
        z-index: 2;

        &:hover {
            transform: scale(2.5);
            cursor: pointer;
        }
    }
    &__title {
        padding: 0.5rem;
        font-size: 1rem;
    }
    &__description {
        margin: 0 auto;
        position: relative;
        bottom: 1.5rem;

        &-deny {
            color: red;
        }
    }
}