.login * {
    color: white;
}

.login {
    padding-top: 10rem;
    width: 100%;
    background-image: url('../../assets/images/background.png');
    background-repeat: repeat-x;
    background-size: cover;
    background-position-y: 60px;
    padding-bottom: 10rem;
    max-width: 1920px;
    min-height: 100vh;

    &__container {
        background-color: rgba(0, 0, 0, 0.453);
        padding: 5rem 0;
        width: 80%;
        margin: 0 auto;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    &__title {
        color: white;
        margin-bottom: 3rem;
    }
    &__form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &-submit {
            padding: 0.5rem 1rem;
            margin-top: 2rem;
            background-color: rgb(87, 182, 87);
        }
    }
    &__form input {
        width: 18rem;
        height: 2rem;
        margin: 0.5rem 2rem;
        padding: 1rem;
        color: black;
    }
    &__input {
        &-group {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    &__error, &__success {
        padding-top: 1rem;
        color: red;
    }
    &__signup {
        margin-top: 2rem;
        display: flex;
        justify-content: center;

        &-text {
            font-size: 13px;
        }
        &-button {
            color: blue;
            margin-left: 4px;
            font-size: 13px;
            }
    }
}