.dashboard .dailies {
    &__title{
        font-size: 1rem;
        margin-bottom: 1rem;

        &-icon {
            height: 1.5rem;
            position: relative;
            top: 0.25rem;
            margin-left: 0.5rem;
        }
    }
    &__habits {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        
        &-item {
            padding: 0.5rem;
            border: 0.0625rem solid #fcfcfc;
            margin-bottom: 0.5rem;
            display: flex;
            justify-content: space-between;
        }
        &-actions {
            display: flex;

            &-delete {
                margin-left: 1rem;
                background: none;
                width: 1.5rem;
                text-align: center;

                &:hover {
                    background-color: black;
                }

            }
            &-track {
                background-color: rgb(103, 148, 210);
                padding: 0.1rem 0.5rem;
                margin-left: 1rem;

                &:hover {
                    background-color: rgb(61, 87, 124);
                }

            }
            &-complete {
                background-color: rgb(190, 113, 113);
                padding: 0.1rem 0.5rem;

                &:hover {
                    background-color: rgb(144, 85, 85);
                }

                &-true {
                    background-color: rgb(113, 190, 113);
                    pointer-events: none;
                    cursor: not-allowed;
                }
            }
        }
    }
    &__form {
        &-habit {
            color: black;
            padding: 0.125rem;
            width: 25rem;
            position: relative;
            z-index: 15;
        }
        &-submit {
            background: none;
            border: none;

            &-icon {
                height: 1.5rem;
                position: relative;
                top: 0.3125rem;
                left: 70%;
            }
        }
    }
}