.dashboard * {
    color: white;
    text-align: left;
}

.dashboard {
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 40px;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1088px;

    &__center {
        background-color: rgb(49, 49, 49);
        min-height: 75vh;
        width: 85vw;
        margin-top: 10rem;
        box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    }
    &__row {
        height: 300px;
        margin: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-top {
            &--left {
                width: 30%;
                height: 100%;
                background-color: rgb(58, 58, 58);
                margin-right: 2rem;
                padding: 1rem;
            }
            &--right {
                width: 70%;
                height: 100%;
                background-color: rgb(58, 58, 58);
                padding: 1rem;
            }
        }
        &-player {
            display: flex;
            
            * {
                line-height: 1.2rem;
            }
            &--left {
                background-color: rgb(43, 43, 43);
                height: 100%;
                width: 45%;
                padding: 0.5rem;
                margin-bottom: 1rem;
            }
            &--right {
                background-color: rgb(43, 43, 43);
                width: 62%;
                padding: 0.5rem;
                margin-bottom: 1rem;
                margin-left: 1rem;
                
            }
            &-name {
                margin-bottom: 0.75rem;
            }
        }
        &-timer {
            background-color: rgb(43, 43, 43);
            height: 54%;
            margin-bottom: 1rem;
        }
        &-quest {
            &--left {
                background-color: rgb(58, 58, 58);
                width: 50%;
                height: 20rem;
                margin-right: 2rem;
                padding: 1rem;
            }
            &--right {
                @extend .dashboard__row-quest--left;
                margin-right: 0;
                display: flex;
            }
            &--container {
                background-color: rgb(43, 43, 43);
                padding: 1rem;
                overflow-y: scroll;
                width: 100%;
                height: 100%;
                position: relative;
                z-index: 15;

                &::-webkit-scrollbar {
                    width: 5px;
                }
                &::-webkit-scrollbar-track {
                    background: transparent; 
                }
                &::-webkit-scrollbar-thumb {
                    background: #888; 
                    border-radius: 10px; 

                    &:hover {
                        background: #555; 
                    }
                }

            }
            &--title {
                margin-bottom: 0.5rem;
            }
        }
        &-bottom {
            background-color: rgb(58, 58, 58);
            height: 100%;
            width: 100%;
            margin-top: 0rem;
            padding: 1rem;
        }
    }
    &__dailyquest, &__sidequest {
        &-item {
            margin-left: 1rem;
        }
    }
}

.level {
    &__select {
        &-btn {
            background-color: rgb(50, 110, 153);
            padding: 0.1rem;
            margin: 4px 8px 4px 0;
        }
    }
}

.alerts {
    color: black;
    font-size: 33px;
}