.timer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__clock {
        font-size: 70px;
        margin-bottom: 2.5rem;
        padding-top: 2.75rem;
    }
    &__buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 70%;
    }
    &__stop {
        background-color: rgb(146, 2, 2);
        padding: 0.25rem 1rem;

        &:hover {
            background-color: rgb(88, 0, 0)
        }   
    }
    &__start {
        @extend .timer__stop;
        background-color: rgb(9, 123, 3);

        &:hover {
            background-color: rgb(3, 69, 0);
        }
    }
    &__cancel {
        @extend .timer__stop;
        background-color: rgb(70, 70, 70);

        &:hover {
            background-color: rgb(38, 38, 38);
        }
    }
    
}