.support {
    width: 120rem;
    margin-bottom: 1rem;

    &__hero {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url('../../assets/images/dashboard-bg.png');
        background-size: cover;
        background-position: center;
        height: 18.75rem;
        margin-top: 2rem;
        width: 100%;

        &-title {
            color: white;
            font-size: 2.25rem;
        }
        &-form {
            margin-top: 2rem;

            &-search {
                padding: 0.5rem 1rem;
                width: 50vw;
            }
            &-button {
                background: none;
                border: none;

                &:hover {
                    transform: scale(1.05);
                }
            }
            &-img {
                height: 2.375rem;
                position: relative;
                top: 0.875rem;
                left: 0.875rem;
            }
        }
    }
    &__container {
        min-height: 50vh;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 2rem;

    }
    &__container * {
        color: black;
        text-align: left;
    }
    &__faq {
        display: flex;
        flex-direction: column;

        &-title {
            font-size: 1.75rem;
            margin-bottom: 1rem;
        }
        &-item {
            list-style-type: none;

            &-title {
                margin: 1rem 0;
                font-size: 1.25rem;
            }

        }
    }
}

.pixela-link {
    color: blue;
}