@use '../../styles/keyframes';

.game {
    background-position-y: -5.625rem;
    background-position-x: -8.75rem;
    background-size: 230%;
    height: 100%;

    &__sprites {
        display: flex;
        position: relative;

        &-player {
            width: 6.25rem; 
            height: 6.25rem; 
            background-repeat: no-repeat;
            animation: keyframes.$idle 1s steps(6) infinite;
            transform: scale(4); 
            image-rendering: pixelated; 
            position: relative;
            top: 9.6875rem;
            right: 0rem;
            z-index: 2;

            &-attack {
                @extend .game__sprites-player;
                animation: keyframes.$attack 1s steps(6) infinite;
            }
        }
        &-monster {
            @extend .game__sprites-player;
            top: 9.0625rem;
            left: 2.5rem;
            z-index: 1;
            transform: scale(5) scaleX(-1);

            &-attack {
                @extend .game__sprites-monster;
                animation: keyframes.$attack-monster 1s steps(6) infinite;
            }
        }
        
    }
}