.game {
    &__sprites {
        display: flex;
        position: relative;

        &-user {
            height: 350px;
            position: absolute;
            right: -25px;
            top: 0px;
        }
        &-monster {
            height: 500px;
            position: absolute;
            left: -120px;
            top: -150px;
            transform: rotateY(180deg);
        }
    }
}