.dashboard .tasks {
    &__task {
        &-input {
            color: black;
        }
        &-submit {
            background: none;
            border: none;
            margin-left: 8px;
        }
        &-icon {
            height: 24px;
            position: relative;
            top: 5px;
        }
    }
}