.dashboard .tasks {
    &__add {
        width: 100%;
    }
    &__task {
        &-input {
            color: black;
            padding: 0.125rem;
            width: 90%;
            position: relative;
            z-index: 15;
        }
        &-submit {
            background: none;
            border: none;
            margin-left: 0.5rem;
            width: 5%;
        }
        &-icon {
            height: 1.5rem;
            position: relative;
            top: 0.3125rem;
            left: 70%;
        }
        &-label {
            margin-left: 0.5rem;

            &-completed {
                text-decoration: line-through;
                color: rgb(109, 109, 109);
            }
        }
    }
    &__item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 1.75rem;

        &-content {
            display: flex;
            align-items: center; 
        }
        &-x {
            &:hover {
                cursor: pointer;
                transform: scale(1.1);
            }
        }

    }
    &__title {
        font-size: 1.125rem;
        margin-bottom: 0.5rem;

        &-icon {
            height: 1.5rem;
            position: relative;
            top: 0.25rem;
            margin-left: 0.5rem;
        }
    }
}
