.confirm {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400;
    background-color: rgb(72, 72, 72);
    border: 0.125rem solid #000;
    box-shadow: 24;
    padding: 2rem;

    &__title {
        color: #fcfcfc;
    }
    &__description {
        color: #fcfcfc;
        padding: 2rem 0;
        font-size: 1.125rem;
    }
    &__confirm {
        padding: 0.5rem 1rem;
        background-color: rgb(72, 135, 72);
        color: white;

        &:hover {
            background-color: rgb(40, 76, 40);
        }
        &-icon {
            height: 1.125rem;
            position: relative;
            top: 0.125rem;
            margin-left: 0.25rem;
        }
    }
    &__cancel {
        @extend .confirm__confirm;
        background-color: rgb(216, 73, 73);
        color: white;
        margin-left: 1.5rem;

        &:hover {
            background-color: rgb(149, 50, 50);
        }
    }
    &__coins {
        height: 1.375rem;
        position: relative;
        top: 0.25rem;
    }
}