@use '../../styles/typography';
@use '../../styles/variables';

.main {
    background-image: url('../../assets/images/background.png');
    background-repeat: repeat-x;
    background-size: cover;
    background-position-y: 60px;
    padding-bottom: 10rem;
    max-width: 1920px;
}

.hero {
    &__content {
        display: flex;
        flex-direction: column;
        margin-bottom: 8rem;
    }
    &__title {
        padding-top: 15rem;
        padding-bottom: 5rem;  
        font-family: typography.$font-pixel;
        font-size: 100px;
    }
    &__description {
        font-family: typography.$font-pixel;
        padding-bottom: 4rem;
    }
    &__btn {
        text-decoration: none;
        font-family: typography.$font-pixel;
        width: 200px;
        height: 70px;
        background: #e16554;
        border: 0px;
        position: relative;
        padding: 1rem;
        box-shadow: 
            inset -4px 2px 1px 1px grey,
            inset -4px -2px 1px 1px lightgray,
            inset 4px 0px 1px 1px lightgray;   

        &:hover {
            cursor: pointer;
            background-color: #e5c72f;
            transform: scale(1.2);
        }
        &:active {
            top: 5px;
            box-shadow: 
              -4px 2px 1px 1px grey,
              -4px -2px 1px 1px lightgray,
              4px 0px 1px 1px lightgray; 
          }
        &::after {
            background: black;
            position: absolute;
            left: -2.5%;
            top: 0;
            width: 105%;
            height: 100%;
            z-index: -1;
          }
        &::before {
            background: black;
            position: absolute;
            left: 0;
            top: -5%;
            width: 100%;
            height: 113%;
            z-index: -1;
          }
    }
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__title {
        color: white;
        font-size: 36px;
        margin-bottom: 3rem;
    }
    &__container {
        display: flex;
        background-color: #313f5c;
        width: 85%;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4), 0px 7px 13px -3px rgba(0, 0, 0, 0.3), inset 0px -3px 0px rgba(0, 0, 0, 0.2);
    }
    &__image {
        max-width: 100%;
        height: 300px;
        padding: 1rem;
    }
    &__description {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    &__text {
        color: white;
        font-size: 18px;
        width: 100%;
        padding: 2rem 2rem 0 2rem;
        text-align: left;

        &--bottom {
            @extend .information__text;
            padding: 0rem 2rem 2rem 2rem;
        }
    }
}

.features {
    display: flex;
    flex-direction: column;
    margin-top: 8rem;

    &__title {
        font-family: typography.$font-pixel;
        font-size: 36px;
        color: white;
        padding-bottom: 4.5rem;
    }
    &__cards {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        
        &-item {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            height: 450px;
            background-image: url('../../assets/images/card.png');
            background-repeat: no-repeat;
            background-size: 312px;
            width: 300px;
            padding: 2.5rem 1.5rem;
            transition: 0.15s ease-in;  
            border-radius: 30px 30px;
            box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.22), 1px 0px 0px 0px rgba(0,0,0,0.22), 1px 2px 0px 0px rgba(0,0,0,0.22), 2px 1px 0px 0px rgba(0,0,0,0.22), 2px 3px 0px 0px rgba(0,0,0,0.22), 3px 2px 0px 0px rgba(0,0,0,0.22), 3px 4px 0px 0px rgba(0,0,0,0.22), 4px 3px 0px 0px rgba(0,0,0,0.22), 4px 5px 0px 0px rgba(0,0,0,0.22), 5px 4px 0px 0px rgba(0,0,0,0.22), 5px 6px 0px 0px rgba(0,0,0,0.22), 6px 5px 0px 0px rgba(0,0,0,0.22), 6px 7px 0px 0px rgba(0,0,0,0.22), 7px 6px 0px 0px rgba(0,0,0,0.22), 7px 8px 0px 0px rgba(0,0,0,0.22), 8px 7px 0px 0px rgba(0,0,0,0.22);
            
            &:hover {
                background-image: url('../../assets/images/card-blank.png');
                background-repeat: no-repeat;
                background-size: 310px;
                transform: scale(1.05);
            }
            &:hover .features__cards-title,
            &:hover .features__cards-description {
                visibility: visible;
                opacity: 1;
            }
        }
        &-title {
            padding-bottom: 1.5rem;
            font-weight: 700;
            visibility: hidden;
        }
        &-description {
            visibility: hidden;
        }
    }
}
